extends ../common/layout.pug
include ../common/mixins/categories-list.pug
include ../common/mixins/header-choice.pug

block wrapper
 .wrapper

  block header
    +headerChoice()

  block content
    main
      section.post
        h1.visually-hidden Пост
        section.post__content
          h2.visually-hidden Основное содержание
          .post__wrapper
            .post__head
              button.post__backwards.button.button--backwards(onclick=`history.back()`) Назад
              time.post__date(datetime='2019-03-21T20:33')= data.createdDate
              h2.post__title.title.title--main= data.title
              ul.post__themes.themes
                each item in categories
                  li.themes__item
                    a.themes__item-link(href=`/articles/category/${item.id}`)= item.title
                      sup= item.articlesAmount
                    button.themes__remove-btn(type='button') Удалить категорию
            - const hasPicture = data.picture !== null && data.picture !== ''
            if hasPicture
              .post__picture
                img(src=`/img/${data.picture}` alt= data.picture)
            .post__text
              h3= data.announce
              p= data.fullText
        .post__wrapper.post__wrapper--comments
          section.post__comments.comments
            - const hasComments = comments.length > 0
            if hasComments
              h2.comments__title.title.title--middle Комментарии
              ul.comments__list
                each item in comments
                  li.comments__comment
                    .comments__avatar.avatar
                      img(src=`/img/${item.readerId.avatar}` alt='аватар пользователя')
                    .comments__text
                      .comments__head
                        p= `${item.readerId.firstname} ${item.readerId.lastname} •`
                        time.comments__date(datetime='2019-03-21T20:33')= item.createdDate
                      p.comments__message= item.text
            else
              h2.comments__title.title.title--middle Комментарии отсутствуют
            - const authorized = user.role === `author` || user.role === `reader`
            if authorized
              .comments__footer.comments__footer--user
                form(action='' method='POST' enctype='multipart/form-data' autocomplete='off')
                  input(type='hidden' name='_csrf' value= csrf)
                  .comments__avatar.avatar
                    img(src=`/img/${user.avatar}` alt='аватар пользователя')
                  label
                    textarea(rows='1' name= 'text' placeholder='Присоединиться к обсуждению')
                  button.comments__button.button.button--colored(type='submit') Опубликовать
                if errorsList
                  each item in errorsList
                    p.comments__error= item.message
            else
              .comments__footer.comments__footer--visitor
                a(href='/login')
                  button.comments__button.button.button--colored(type='submit') Войти
                .comments__registration
                  p.text.text--signature
                    b.title.title--small Регистрация
                    | Чтобы присоединиться к переписке нужно зарегистрироваться

  block footer
    include ../common/footer.pug

block script
  script(src='/js/main.js')
