mixin articlesList()

  ul.preview__list
    each item in articles
      - const hasPicture = item.picture !== null && item.picture !== ''
      li.preview__item(class=hasPicture ? '' : 'preview__item--noimage')
        ul.preview__breadcrumbs
          each el in item.category
            li.preview__breadcrumbs-item
              a.preview__breadcrumbs-link(href='#')= el
        if hasPicture
          .preview__background
            img.preview__background-image(src='/img/' + item.picture width='460' height='240' srcset='/img/' + item.picture alt='Фотография' + item.picture)
        time.preview__time(datetime= item.createdDate)= item.createdDate
        h3.preview__name
          a.preview__name-link(href='/articles/' + item.id)= item.title
        p.preview__text= item.announce
        a.preview__comment(href='#')
          | Комментарии
          span.preview__cloud
          |
          b.preview__comment-count= item.comments.length
